Source: neutron
Section: net
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               dh-systemd,
               openstack-pkg-tools (>= 22~),
               po-debconf,
               python-all (>= 2.6),
               python-pbr (>= 0.6),
               python-sphinx
Build-Depends-Indep: alembic (>= 0.4.1),
                     bridge-utils,
                     pep8 (>= 1.3.3),
                     python-amqplib,
                     python-anyjson (>= 0.3.3),
                     python-babel (>= 1.3),
                     python-cliff (>= 1.4.5),
                     python-configobj,
                     python-coverage (>= 3.6),
                     python-eventlet (>= 0.13.0),
                     python-fixtures (>= 0.3.14),
                     python-gflags,
                     python-greenlet (>= 0.3.2),
                     python-hacking (>= 0.8.0),
                     python-httplib2 (>= 0.7.5),
                     python-iso8601 (>= 0.1.9),
                     python-jinja2,
                     python-jsonrpclib,
                     python-keystoneclient (>= 1:0.6.0),
                     python-kombu (>= 2.4.8),
                     python-lxml,
                     python-mock (>= 1.0),
                     python-netaddr (>= 0.7.6),
                     python-netifaces,
                     python-neutronclient (>= 2.3.4),
                     python-nose,
                     python-nosexcover,
                     python-novaclient (>= 2:2.17.0),
                     python-oslo.config (>= 1.2.1),
                     python-oslo.rootwrap,
                     python-paste,
                     python-pastedeploy,
                     python-pyudev,
                     python-requests (>= 1.1),
                     python-routes,
                     python-setuptools,
                     python-simplejson,
                     python-six (>= 1.6.0),
                     python-sqlalchemy,
                     python-stevedore (>= 0.14),
                     python-subunit (>= 0.0.18),
                     python-testrepository (>= 0.0.13),
                     python-testtools (>= 0.9.34),
                     python-unittest2,
                     python-webob (>= 1.2.3),
                     python-webtest (>= 2.0.9),
                     subunit,
                     testrepository (>= 0.0.18)
Standards-Version: 3.9.6
Homepage: http://neutron.openstack.org/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/neutron.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/neutron.git

Package: python-neutron
Architecture: all
Section: python
Pre-Depends: dpkg (>= 1.15.6~)
Replaces: python-quantum (<< 2013.2~),
          quantum-common (<< 2013),
          quantum-dhcp-agent (<< 2013),
          quantum-l3-agent (<< 2013),
          quantum-plugin-cisco (<< 2013),
          quantum-plugin-linuxbridge (<< 2013),
          quantum-plugin-linuxbridge-agent (<< 2013),
          quantum-plugin-metaplugin (<< 2013),
          quantum-plugin-nec (<< 2013),
          quantum-plugin-nec-agent (<< 2013),
          quantum-plugin-nicira (<< 2013),
          quantum-plugin-openvswitch (<< 2013),
          quantum-plugin-openvswitch-agent (<< 2013),
          quantum-plugin-ryu (<< 2013),
          quantum-plugin-ryu-agent (<< 2013)
Breaks: python-quantum (<< 2013.2~),
        quantum-common (<< 2013),
        quantum-dhcp-agent (<< 2013),
        quantum-l3-agent (<< 2013),
        quantum-plugin-cisco (<< 2013),
        quantum-plugin-linuxbridge (<< 2013),
        quantum-plugin-linuxbridge-agent (<< 2013),
        quantum-plugin-metaplugin (<< 2013),
        quantum-plugin-nec (<< 2013),
        quantum-plugin-nec-agent (<< 2013),
        quantum-plugin-nicira (<< 2013),
        quantum-plugin-openvswitch (<< 2013),
        quantum-plugin-openvswitch-agent (<< 2013),
        quantum-plugin-ryu (<< 2013),
        quantum-plugin-ryu-agent (<< 2013)
Depends: alembic (>= 0.4.1),
         conntrack,
         python-amqplib,
         python-anyjson (>= 0.3.3),
         python-babel (>= 1.3),
         python-configobj,
         python-eventlet (>= 0.13.0),
         python-gflags,
         python-greenlet (>= 0.3.2),
         python-httplib2 (>= 0.7.5),
         python-iso8601 (>= 0.1.9),
         python-jinja2,
         python-jsonrpclib,
         python-keystoneclient (>= 1:0.6.0),
         python-kombu (>= 2.4.8),
         python-lxml,
         python-migrate,
         python-netaddr (>= 0.7.6),
         python-neutronclient (>= 2.3.4),
         python-novaclient (>= 2:2.17.0),
         python-oslo.config (>= 1.2.1),
         python-oslo.rootwrap,
         python-paste,
         python-pastedeploy,
         python-pbr (>= 0.6),
         python-pyudev,
         python-requests (>= 1.1),
         python-routes,
         python-simplejson,
         python-six (>= 1.6.0),
         python-sqlalchemy,
         python-stevedore (>= 0.14),
         python-webob (>= 1.2.3),
         ${misc:Depends},
         ${python:Depends}
Provides: ${python:Provides}
Description: OpenStack virtual network service - Python library
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Python library.

Package: neutron-server
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         debconf,
         lsb-base,
         neutron-common (= ${source:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Breaks: quantum-server (<< 2013.2~)
Replaces: quantum-server (<< 2013.2~)
Description: OpenStack virtual network service - server
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Neutron server.

Package: neutron-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dbconfig-common,
         debconf,
         dpkg-dev,
         python-cliff,
         python-mysqldb,
         python-neutron (= ${source:Version}),
         python-pyparsing (>=1.5.7),
         python-sqlalchemy,
         ${misc:Depends},
         ${python:Depends}
Provides: neutron-plugin,
          neutron-plugin-bigswitch,
          neutron-plugin-brocade,
          neutron-plugin-cisco,
          neutron-plugin-hyperv,
          neutron-plugin-linuxbridge,
          neutron-plugin-metaplugin,
          neutron-plugin-ml2,
          neutron-plugin-nec,
          neutron-plugin-nicira,
          neutron-plugin-openvswitch,
          neutron-plugin-plumgrid,
          neutron-plugin-ryu,
          quantum-plugin,
          quantum-plugin-bigswitch,
          quantum-plugin-brocade,
          quantum-plugin-cisco,
          quantum-plugin-hyperv,
          quantum-plugin-linuxbridge,
          quantum-plugin-metaplugin,
          quantum-plugin-nec,
          quantum-plugin-nicira,
          quantum-plugin-openvswitch,
          quantum-plugin-plumgrid,
          quantum-plugin-ryu
Breaks: quantum-plugin-linuxbridge-agent (<< 2013.2~),
        quantum-plugin-openvswitch-agent (<< 2013.2~),
        quantum-server (<< 2013.2~)
Replaces: quantum-plugin-linuxbridge-agent (<< 2013.2~),
          quantum-plugin-openvswitch-agent (<< 2013.2~),
          quantum-server (<< 2013.2~)
Description: OpenStack virtual network service - common files
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the common files.

Package: neutron-plugin-nec-agent
Architecture: all
Provides: neutron-plugin
Pre-Depends: dpkg (>= 1.15.6~)
Depends: neutron-common (= ${source:Version}),
         sudo,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Breaks: quantum-plugin-nec-agent (<< 2013.2~)
Replaces: quantum-plugin-nec-agent (<< 2013.2~)
Description: OpenStack virtual network service - NEC agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the NEC plugin agent.

Package: neutron-l3-agent
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         debconf,
         iputils-arping,
         neutron-common (= ${source:Version}),
         sudo,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Recommends: openvswitch-switch
Conflicts: neutron-vpn-agent
Breaks: quantum-l3-agent (<< 2013.2~)
Replaces: quantum-l3-agent (<< 2013.2~)
Description: OpenStack virtual network service - l3 agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the l3 agent.

Package: neutron-dhcp-agent
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dnsmasq-base,
         dnsmasq-utils,
         neutron-common (= ${source:Version}),
         sudo,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Breaks: quantum-dhcp-agent (<< 2013.2~)
Replaces: quantum-dhcp-agent (<< 2013.2~)
Description: OpenStack virtual network service - DHCP agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the DHCP agent.

Package: neutron-metadata-agent
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         neutron-common (= ${source:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Breaks: quantum-metadata-agent (<< 2013.2~)
Replaces: quantum-metadata-agent (<< 2013.2~)
Description: OpenStack virtual network service - metadata agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the metadata proxy agent.

Package: neutron-metering-agent
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         debconf,
         lsb-base,
         neutron-common (= ${source:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Provides: neutron-plugin-metering-agent
Breaks: quantum-server (<< 2013.2~)
Replaces: quantum-server (<< 2013.2~)
Description: OpenStack virtual network service - metering agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Neutron metering agent.

Package: neutron-vpn-agent
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         debconf,
         lsb-base,
         neutron-common (= ${source:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Suggests: openswan
Provides: neutron-plugin-vpn-agent
Conflicts: neutron-l3-agent
Breaks: quantum-server (<< 2013.2~)
Replaces: quantum-server (<< 2013.2~)
Description: OpenStack virtual network service - VPN agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Neutron VPN agent.

Package: neutron-lbaas-agent
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: haproxy,
         neutron-common (= ${source:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Breaks: quantum-common (<< 2013.2~)
Replaces: quantum-common (<< 2013.2~)
Description: OpenStack virtual network service - LBaaS agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Load Balancing as a Service (LBaaS) agent.

Package: neutron-plugin-openvswitch-agent
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~), openvswitch-switch (>= 1.9)
Depends: neutron-common (= ${source:Version}),
         sudo,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Breaks: python-quantum (<< 2013.2~),
        quantum-plugin-openvswitch-agent (<< 2013.2~)
Replaces: python-quantum (<< 2013.2~),
          quantum-plugin-openvswitch-agent (<< 2013.2~)
Recommends: openvswitch-datapath-dkms
Description: OpenStack virtual network service - Open vSwitch agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Open vSwitch agent. If you choose to use the Open
 vSwitch plugin on neutron-server, this agent should run on each compute node.

Package: neutron-plugin-linuxbridge-agent
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: bridge-utils,
         neutron-common (= ${source:Version}),
         sudo,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Breaks: python-quantum (<< 2013.2~),
        quantum-plugin-linuxbridge-agent (<< 2013.2~)
Replaces: python-quantum (<< 2013.2~),
          quantum-plugin-linuxbridge-agent (<< 2013.2~)
Description: OpenStack virtual network service - Linux bridge agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Linux bridge agent. If you choose to use the Linux
 bridge plugin on neutron-server, this agent should run on each compute node.

Package: python-quantum
Depends: python-neutron, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for switching to python-neutron
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from python-quantum to python-neutron.

Package: quantum-server
Depends: neutron-server, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for switching to neutron-server
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-server to neutron-server.

Package: quantum-common
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for switching to neutron-common
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-common server to neutron-common.

Package: quantum-plugin-cisco
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-cisco
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-cisco server to neutron-common.

Package: quantum-plugin-nec
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-nec
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-nec server to neutron-common.

Package: quantum-plugin-nec-agent
Depends: neutron-plugin-nec-agent, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-nec-agent
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-nec-agent server to
 neutron-plugin-nec-agent.

Package: quantum-plugin-bigswitch
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-bigswitch
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-bigswitch server to neutron-common.

Package: quantum-plugin-hyperv
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-hyperv
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-hyperv server to neutron-common.

Package: quantum-plugin-brocade
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-brocade
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-brocade server to neutron-common.

Package: quantum-plugin-plumgrid
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-plumgrid
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-plumgrid server to neutron-common.

Package: quantum-plugin-metaplugin
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-metaplugin
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-metaplugin server to neutron-common.

Package: quantum-plugin-nicira
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-nicira
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-nicira server to neutron-common.

Package: quantum-l3-agent
Depends: neutron-l3-agent, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-l3-agent
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-l3-agent server to neutron-l3-agent.

Package: quantum-dhcp-agent
Depends: neutron-dhcp-agent, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-dhcp-agent
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-dhcp-agent server to neutron-dhcp-agent.

Package: quantum-metadata-agent
Depends: neutron-dhcp-agent, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-metadata-agent
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-metadata-agent server to neutron-metadata-agent.

Package: quantum-lbaas-agent
Depends: neutron-dhcp-agent, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-lbaas-agent
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-lbass-agent server to neutron-lbass-agent.

Package: quantum-plugin-openvswitch
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-openvswitch
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-openvswitch server to neutron-common.

Package: quantum-plugin-openvswitch-agent
Depends: neutron-plugin-openvswitch-agent, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-openvswitch-agent
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-openvswitch-agent server to
 neutron-plugin-openvswitch-agent.

Package: quantum-plugin-linuxbridge
Depends: neutron-common, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-linuxbridge
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-linuxbridge server to neutron-common.

Package: quantum-plugin-linuxbridge-agent
Depends: neutron-plugin-linuxbridge-agent, ${misc:Depends}
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Section: oldlibs
description: transitional dummy package for upgrading quantum-plugin-linuxbridge-agent
 This is a transitional dummy package due to the rename of Quantum into
 Neutron. Quantum had to be renamed because of a trademark issue. Once you have
 upgraded, this package can safely be removed. This package provides a
 transition path from quantum-plugin-linuxbridge-agent server to
 neutron-plugin-linuxbridge-agent.
